@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.5s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
}
/* Font Faces */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: calc(16 * (100vw / 1440));
}

@media (max-width: 769px) {
  html {
    font-size: calc(16 * (100vw / 769));
  }
}

@media (max-width: 478px) {
  html {
    font-size: calc(16 * (100vw / 375));
  }
}

@media (min-width: 1440px) {
  html {
    font-size: calc(16 * (100vw / 1440));
  }
}

@media (min-width: 1600px) {
  html {
    font-size: calc(16 * (100vw / 1800));
  }
}

@media (min-width: 1600px) and (max-width: 2000px) {
  html {
    font-size: 3rem;
  }
}

/* Base Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(3.375rem, 2.6268rem + 3.1925vw, 5.5rem);
  font-weight: 900;
  line-height: 100%;
}

h2 {
  font-size: clamp(2.5rem, 2.1919rem + 1.3146vw, 3.375rem);
  font-weight: 700;
  line-height: 110%;
}

@keyframes menuAppear {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 479px) {
  .menu-appear {
    animation: menuAppear 0.3s ease forwards;
  }

  .menu-link {
    opacity: 0;
    transform: translateY(-8px);
  }

  .menu-visible .menu-link:nth-child(1) {
    animation: menuAppear 0.3s ease forwards 0.1s;
  }
  .menu-visible .menu-link:nth-child(2) {
    animation: menuAppear 0.3s ease forwards 0.2s;
  }
  .menu-visible .menu-link:nth-child(3) {
    animation: menuAppear 0.3s ease forwards 0.3s;
  }
}
